h1{
    background-color: pink;
    color: black;
    text-align: center;
    font-size: 50px;
    font-family:"playwrite AR", cursive;
    /* font family italic */
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 10px;
    word-spacing: 10px;
    font-weight: 700;
}
.mypara{
    color: blue;
    text-align: justify;
    border-width: 3px;
    border-style: solid;
    border-color: aquamarine;
    border: 3px dashed green;
}
.secondpara{
    border-left: 3px solid green;
    border-top: 3px solid rgb(148, 42, 143);
    border-right: 3px solid rgb(219, 42, 62);
    border-bottom: 3px solid yellow;
    /* border: top black;
    border: right pink;
    border: bottom red; */


}
.box{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50%;
}